<a href="https://colab.research.google.com/github/sabil08/learn-python/blob/main/basicpython1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Basic Python

###Text

In [ ]:
print("this is a relly long line of text that will"+
      "appear on multiple lines in  the source code file.")

this is a relly long line of text that willappear on multiple lines in  the source code file

In [ ]:
#memberikan catatan
print("Untuk memberikan catatan bisa menggunakan tanda'#'")
'coba saja'

Untuk memberikan catatan bisa menggunakan tanda'#'

'coba saja'

In [ ]:
"""
 Untuk memberikan catatan tambahan dengan baris yang banyak tanpa menggunakan '#'
 bisa menggunakan 3 kutip atas dan 3 kutip bawah
 Application: Comments.py
 Written by: sabil
 Purpose: Shows how to use comments.
"""

"\n Untuk memberikan catatan tambahan dengan baris yang banyak tanpa menggunakan '#'\n bisa menggunakan 3 kutip atas dan 3 kutip bawah\n Application: Comments.py\n Written by: sabil\n Purpose: Shows how to use comments.\n"

In [ ]:
print("make code") #membuat note setelah sintaks

make code

###Function
Fungsi adalah blok kode yang terorganisir dengan baik sehingga suatu saat kita dapat menggunakan nya kembali(reusable).

def merupakan keyword yang digunakan untuk menyatakan suatu fungsi pada python.

def nama_fungsi(parameter):
  - Argumen

In [ ]:
def Hello():
  print("this is my first python function!")

In [ ]:
Hello()

this is my first python function!

In [ ]:
def Hello3(sebut = "tidak ada isi"):
  print(sebut)

Hello3(25)

25

In [ ]:
# Program menghitung hasil faktorial 
hasil_faktorial = 1 
n = 4 
for i in range(1,n+1): 
	hasil_faktorial *= i 
print(hasil_faktorial) 


def factorial(n): 
	hasil = 1 
	for i in range(1,n+1): 
		hasil *= i 
	return hasil 
print(factorial(6))

In [ ]:
def penambahan(value1,value2):
  return value1 + value2

print ("jumlah 3 + 4 adalah", penambahan(3,4))

jumlah 3 + 4 adalah 7

In [ ]:
def penambahan2 (value1,value2):
  print(value1, " + ", value2, " = ", (value1+value2))

penambahan2(215,312)

215  +  312  =  527

In [ ]:
#input
nama=input("tell me your name:")
print("hello",nama)

tell me your name:sabil
hello sabil

##IF statement

In [ ]:
if TestMe == 6:
  print("TestMe does equal 6!")

TestMe=6

TestMe does equal 6!

In [ ]:
value = int(input("Type a number between 1 and 10: "))
if (value > 0) and (value <= 10):
  print("You typed: ", value)

Type a number between 1 and 10: 7
You typed:  7

In [ ]:
print("1. Red")
print("2. Orange")
print("3. Yellow")
print("4. Green")
print("5. Blue")
print("6. Purple")
Choice = int(input("Select your favorite color: "))
if (Choice == 1):
  print("You chose Red!")
elif (Choice == 2):
  print("You chose Orange!")
elif (Choice == 3):
  print("You chose Yellow!")
elif (Choice == 4):
  print("You chose Green!")
elif (Choice == 5):
  print("You chose Blue!")
elif (Choice == 6):
  print("You chose Purple!")
else:
  print("You made an invalid choice!")

1. Red
2. Orange
3. Yellow
4. Green
5. Blue
6. Purple
Select your favorite color: 3
You chose Yellow!

In [ ]:
print(int(2))
print(int(2.3))
print(float(9))
print(float('9.2'))
print(int('9'))
print(int(float('9.1')))

2
2
9.0
9.2
9
9

In [ ]:
One = int(float(input("Type a number between 1 and 10: ")))
Two = int(float(input("Type a number between 1 and 10: ")))
if (One >= 1) and (One <= 10):
  if (Two >= 1) and (Two <= 10):
    print("Your secret number is: ", One * Two)
  else:
    print("Incorrect second value!")
else:
  print("Incorrect first value!")

Type a number between 1 and 10: 3.5
Type a number between 1 and 10: 7
Your secret number is:  21

In [ ]:
print("1. Eggs")
print("2. Pancakes")
print("3. Waffles")
print("4. Oatmeal")
MainChoice = int(input("Choose a breakfast item: "))
if (MainChoice == 2):
  Meal = "Pancakes"
elif (MainChoice == 3):
  Meal = "Waffles"
if (MainChoice == 1):
  print("1. Wheat Toast")
  print("2. Sour Dough")
  print("3. Rye Toast")
  print("4. Pancakes")
  Bread = int(input("Choose a type of bread: "))
  if (Bread == 1):
    print("You chose eggs with wheat toast.")
  elif (Bread == 2):
    print("You chose eggs with sour dough.")
  elif (Bread == 3):
    print("You chose eggs with rye toast.")
  elif (Bread == 4):
    print("You chose eggs with pancakes.")
  else:
    print("We have eggs, but not that kind of bread.")
 
elif (MainChoice == 2) or (MainChoice == 3):
  print("1. Syrup")
  print("2. Strawberries")
  print("3. Powdered Sugar")
  Topping = int(input("Choose a topping: "))
  if (Topping == 1):
    print ("You chose " + Meal + " with syrup.")
  elif (Topping == 2):
    print ("You chose " + Meal + " with strawberries.")
  elif (Topping == 3):
    print ("You chose " + Meal + " with powdered sugar.")
  else:
    print ("We have " + Meal + ", but not that topping.")
 
elif (MainChoice == 4):
  print("You chose oatmeal.")
 
else:
  print("We don't serve that breakfast item!")

1. Eggs
2. Pancakes
3. Waffles
4. Oatmeal
Choose a breakfast item: 1
1. Wheat Toast
2. Sour Dough
3. Rye Toast
4. Pancakes
Choose a type of bread: 4
You chose eggs with pancakes.

#Number

In [ ]:
#ntegers
"""
b (bin()): Base 2, 0 dan 1
o (oct()): Base 8, 0 sd 7
denary   : base 10
x (hex()): Base 16, 0 sd 9 dan A sd F
"""
A= -92233720368547758089
B=9223372036854775807
print(A)
print(B)

-92233720368547758089
9223372036854775807

In [ ]:
coba=0o100
test=100
tryy=0x100
print(coba)
print(test)
print(tryy)

64
100
256

In [ ]:
binary = input("Input a number in binary:")  
denary = 0  
for i in binary:  
  #A left shift in binary means x2  
  denary = denary*2 + int(i)  
print("Your denary number is: " + str(denary))
#Denary to binary conversion

Input a number in binary:444
Your denary number is: 28

In [ ]:
denary = int(input("Input a denary number:"))  
binary=""  
while denary>0:  
  #A left shift in binary means /2  
  binary = str(denary%2) + binary  
  denary = denary//2  
print("Your binary number is: " + binary)

In [ ]:
a=0b101
print(a)
0b10001

5

17

In [ ]:
aku= input("aku cinta:")

aku cinta:kamu

In [ ]:
10%2

0

In [ ]:
11//2

5

In [ ]:
bb=2.55e2
cc=2.55e-2
print(bb)
cc

255.0

0.0255

In [ ]:
#complex
mxc=3+4j
print(mxc)

(3+4j)

In [ ]:
#mengubah huruf menjadi angka biner
ord("A")

65

In [ ]:
myint=int("123")
myint

123

In [ ]:
type(myint)

int

In [ ]:
mystr=str(123.45)
mystr

'123.45'

##Dates and Times

In [ ]:
import datetime as dt

In [ ]:
dt.datetime.now()

datetime.datetime(2021, 3, 11, 3, 17, 51, 412521)

In [ ]:
 str(dt.datetime.now().date())

'2021-03-11'

In [ ]:
 print(str(dt.date(2021,3,11)))

2021-03-11

In [ ]:
print(dt.date(2021,3,11))
dt.date(2021,3,11)

2021-03-11

datetime.date(2021, 3, 11)

##Manage Information

1. Unary
2. Arithmetic
3. Relational
4. Logical
5. Bitwise
6. Assignment
7. Membership
8. Identity

In [ ]:
#Unary adalah operator yang diberikan pada single variabel
print(~4) # '~' merupakan operator pembalik dan mengurangkan 1 angka
print(-4) # '-' operator negatif
print(+4) # '+' operator positif

-5
-4
4

In [ ]:
#Arithmatic adalah operasi antara 2 bilangan
print(5+2)  # '+' operasi penjumlahan
print(5-2)  # '-' operasi pengurangan
print(5*2)  # '*' operasi perkalian
print(5/2)  # '/' operasi pembagian
print(5%2)  # '%' operasi modulo (sisa)
print(5**2) # '**' operasi pangkat
print(5//2) # '//' operasi pembagian dengan hasil dibulatkan

7
3
10
2.5
1
25
2

In [ ]:
#Relational adalah sebuah operator yang bertugas membandingkan satu nilai dengan nilai lainnya dan memberitahu ketika hubungan tersebut benar atau salah. 
#Misalnya, 1 kurang dari 2. Nilai kebenaran hubungan sering digunakan untuk membuat keputusan dalam aplikasi untuk memastikan bahwa kondisi untuk melakukan tugas tertentu terpenuhi

print(1==2) # '==' operator sama dengan
print(1!=2) # '!=' operator tidak sama dengan
print(1>2)  # '>'  operator lebih dari
print(1<2)  # '<'  operator kurang dari
print(1>=2) # '>=' operator lebih dari atau sama dengan
print(1<=2) # '<=' operator kurang dari atau sama dengan

False
True
False
True
False
True

In [ ]:
#Logical operator menggabungkan nilai variabel atau ekspresi yang benar atau salah sehingga dapat menentukan nilai kebenaran yang dihasilkan. 
#menggunakan operator logika untuk membuat ekspresi Boolean yang membantu menentukan apakah akan melakukan tugas.

print( 1<=2 and 1!=2) # operator logical 'and' akan bernilai TRUE jika keduanya TRUE 
print( 1<=2 and 1==2)
print( 1<=2 or 1!=2) # operator logical 'or' akan bernilai TRUE jika salah satunya TRUE 
print( 1>=2 or 2!=2)
print( not 1!=2) # operator logical 'not' merupakan operator negasi 
print( not 1>=2)

True
False
True
False
False
True

In [ ]:
#Assignment merupakan operator yang menempatkan data dalam variabel
myvar =2
print(myvar)
myvar +=5
print(myvar)
myvar -=2
print(myvar)
myvar *=4
print(myvar)
myvar /=2
print(myvar)
myvar %=2
print(myvar)
myvar **=2
print(myvar)
myvar //=2
print(myvar)

2
7
5
20
10.0
0.0
0.0
0.0

In [ ]:
#Membership merupakan operator yang mendeteksi kemunculan suatu nilai atau data
print("hello" in "hello Goodbye")
print("hello" not in "hello Goodbye")

True
False

In [ ]:
#identity merupakan operator yang menentukan apakah suatu nilai atau ekspresi pada class atauu type yang benar
print(type(2) is int)
print(type(2) is not int)

True
False

##Looping

In [ ]:
#For looping
nomor = 1
for i in "!":
 print("huruf ", nomor, " adalah ", i)
 nomor +=1

In [ ]:
Value = input("Type less than 6 characters: ")
LetterNum = 1
for Letter in Value:
 print("Letter ", LetterNum, " is ", Letter)
 LetterNum+=1
 if LetterNum > 6:
   print("The string is too long!")
   break

In [ ]:
LetterNum = 1
for Letter in "Howdy!":
 if Letter == "w":
   print("Encountered w, not processed.")
   continue
 print("Letter ", LetterNum, " is ", Letter)
 LetterNum+=1

Letter  1  is  H
Letter  2  is  o
Encountered w, not processed.
Letter  3  is  d
Letter  4  is  y
Letter  5  is  !

In [ ]:
LetterNum = 1
for Letter in "Howdy!":
 if Letter == "w":
  pass
  print("Encountered w, not processed.")
 print("Letter ", LetterNum, " is ", Letter)
 LetterNum+=1

In [ ]:
Value = input("Type less than 6 characters: ")
LetterNum = 1
for Letter in Value:
 print("Letter ", LetterNum, " is ", Letter)
 LetterNum+=1
else:
 print("The string is blank.")

In [ ]:
Sum = 0
while Sum < 5:
 print(Sum)
 Sum+=1

In [ ]:
X = 1
Y = 1
print ('{:>4}'.format(' '), end= ' ')
for X in range(1, 11):
 print('{:>4}'.format(X), end=' ')
 
print()
 
for X in range(1,11):
 print('{:>4}'.format(X), end=' ')
 while Y <= 10:
  print('{:>4}'.format(X * Y), end=' ')
  Y+=1
 print()
 Y=1

In [ ]:
try:
   Value = int(input("Type a number between 1 and 10:"))
except ValueError:
 print("You must type a number between 1 and 10!")
else:
 if (Value > 0) and (Value <= 10):
  print("You typed: ", Value)
 else:
   print("The value you typed is incorrect!")

Type a number between 1 and 10:10.1
You must type a number between 1 and 10!

In [ ]:
while True: 
	angka = input('Masukkan angka: ') 
	hasil = 30 - int(angka) 
	print(hasil)

In [ ]:
import random as rd 
 
kelas = [ 
'Bambang', 'Siti','Lala', 'Feby', 'Kurma' 
] 
 
angka = [] 
for num in range (0, len(kelas)): angka.append(num) 
 
total = int(input(" Berapa Kelompok : ")) 
kel = [] 
for x in range(total): 
    sub= [] 
    kel.append(sub) 
 
count = 0 
while len(angka) > 0: 
 
    acak = rd.randint(0, len(angka)-1) 
    hasil = angka[acak] 
    del (angka[acak]) 
 
    kel[count].append(kelas[hasil]) 
    if count == len(kel)-1:  
        count = 0 
    else:  
        count+=1 
 
nm = total-1 
for kel_sub in kel: 
    print("\n") 
    print(f".:Kelompok {total-nm}:.") 
    for name in kel_sub: 
        print(f"{name}") 
    nm = nm - 1

In [ ]:
x = 5
y = 7
if x > 5:
 x += 1
 y = 8

In [ ]:
a = 5
isinstance(a, int)

True

In [ ]:
a = 5; b = 4.5
isinstance(a, (int, float))

True

In [ ]:
isinstance(b, (int, float))

True

In [ ]:
a = 5; b = 4.5;print(a,b);print(b)

5 4.5
4.5

In [ ]:
#such as lists, dicts, NumPy arrays, and most user-defined types (classes), are mutable
a_list = ['foo', 2, [4, 5]]
a_list[2] = (3, 4)
a_list

In [ ]:
#Others, like strings and tuples, are immutable:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = 'four'      #kalau di run akan error

In [ ]:
ang1=1723
ang1**3

5115120067

In [ ]:
#string
a='cara pertama menuliskan kalimat'
b="cara yang lain"
c='''
ini cara panjang menuliskan sebuah kalimat
dengan banyak baris
'''
print(a)
print(b)
print(c)

cara pertama menuliskan kalimat
cara yang lain

ini cara panjang menuliskan sebuah kalimat
dengan banyak baris

In [ ]:
c.count('\n')

3

In [ ]:
#string is immutable
kata1='ini adalah kumpulan huruf'
kata1[5]='f'    #akan error jika di run

In [ ]:
kata1='ini adalah kumpulan huruf'
kata2= kata1.replace('huruf','kata yang tergabung jadi 1 kalimat')
print(kata1)
print(kata2)

In [ ]:
ang2=5.6
s=str(ang2)
print(s)
print(type(s))

5.6
<class 'str'>

In [ ]:
type(kata2)

str

In [ ]:
kata3='python'
print(list(kata3))
kata3[:3]

['p', 'y', 't', 'h', 'o', 'n']

'pyt'

In [ ]:
kata3='python'
kata3=list(kata3)
kata3[:3]

['p', 'y', 't']

In [ ]:
s1='12\\34'   # \untuk menyembunyikan spesial karakter
s2='12\n34'   # \n sama dengan Enter pada saat penulisan kalimat.
print(s1)
print(s2)

12/34
12
34

In [ ]:
s3 = r'this\has\no\special\characters'
s3

'this\\has\\no\\special\\characters'

In [ ]:
#kita dapat menggabungkan (concatenate) kata dengan menggunakan '+'
s4='ini kata pertama '
s5='dan ini kata kedua'
s6=s4+s5
print(s4)
print(s5)
print(s6)

ini kata pertama
dan ini kata kedua
ini kata pertama dan ini kata kedua

In [ ]:
#format string
 template = "(0:.2f) {1:s} are worth US${2:d}"
 template

In [ ]:
'Sam has {red} red balls and {green} yellow balls'.format(red = 12, green = 31)

'Sam has 12 red balls and 31 yellow balls'

 Data Structures
 
 tuples, lists, dicts, and sets

In [ ]:
#Tuple
tup1=4,5,6
tup1

(4, 5, 6)

In [ ]:
tup2=(4,5,6),(7,8)
tup2

((4, 5, 6), (7, 8))

In [ ]:
tup3=tuple([4, 0, 2])
tup3

(4, 0, 2)

In [ ]:
tup4 = tuple(('string'))
tup4

('s', 't', 'r', 'i', 'n', 'g')

In [ ]:
tup5 = tuple(['foo', [1, 2], True])
print(tup5[0])

foo

In [ ]:
tup5 = tuple(['foo', [1, 2], True])
tup5[1].append(3)
tup5

('foo', [1, 2, 3], True)

In [ ]:
#kita dapat menggabungkan sesama tuple, dengan di jumlahkan
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [ ]:
#multiplie tuple
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [ ]:
#unpacking tuple
tup7 = (4, 5, 6)
a,b,c =tup7
a

4

In [ ]:
tup7 = (4, 5, 6)
a,b,c=tup7
c

6

In [ ]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits
print(green)

apple

In [ ]:
 seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
 for a, b, c in seq:
   print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [ ]:
values = 1, 2, 3, 4, 5
a, b, *c = values
c

[3, 4, 5]

In [ ]:
 a, b, *_ = values
 _

[3, 4, 5]

In [ ]:
 a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

#FORMATING STRING